spring:
  application:
    name: service-registry

server:
  port: 8761  # Eureka dashboard port

eureka:
  client:
    register-with-eureka: false  # The registry does NOT register itself
    fetch-registry: false         # It does not fetch from another registry

management:
  tracing:
    sampling:
      probability: 1.0
    propagation:
      type: W3C
    baggage:
      correlation:
        enabled: true
  zipkin:
    tracing:
      endpoint: http://zipkin:9411/api/v2/spans

logging:
  file:
    name: logs/${spring.application.name}.log
  logback:
    rollingpolicy:
      max-file-size: 10MB
      max-history: 5
  level:
    com.netflix.discovery: DEBUG
  pattern:
    level: "%5p [${spring.application.name:}, trace=%X{traceId:-}, span=%X{spanId:-}]"