receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch:

exporters:
  splunk_hec:
    token: "3a90c64b-7f12-4db8-a9b3-7e2732001405"
    endpoint: "https://host.docker.internal:8088/services/collector"
    source: "rideshare-hec"
    sourcetype: "_json"
    index: "main"
    tls:
      insecure_skip_verify: true

  debug:
    verbosity: detailed

service:
  pipelines:
    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [splunk_hec, debug]

    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [splunk_hec, debug]

    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [splunk_hec, debug]
