server:
  port: 8888

spring:
  application:
    name: config-service

  cloud:
    config:
      server:
        git:
          uri: https://github.com/pullurigopalrao-collab/rideshare-config-repo
          default-label: feature/config-service-setup
          clone-on-start: true
